/*
* I'm utilising Box Theme, created by : Ahmed Eissa
* website : www.ahmedessa.net
* behance : https://www.behance.net/3essa
*/


/* Google fonts & font family
==================================================*/

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,400i,700);
@font-face { 
    font-family: "century gothic"; src: url('../_assets/fonts/CenturyGothic.ttf') format("truetype");
    }

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'century gothic', sans-serif;
	font-weight: 100;
    line-height: 1.8;
    color: #000;
}
body {background: #fff;
    color: #333;
}

ul, li {margin: 0; padding: 0; list-style: none;}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: inherit;
    text-decoration: none;
}
a:hover {cursor: pointer; color: inherit; text-decoration: underline;}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}

.color {
    color: #e6007e;
    font-size: 11px;
}


/* typography
==================================================*/

h1 {
    color: #f5f5f5;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-family: 'bitter';
    color: #666;
    font-size: 20px;
    letter-spacing: 0.1em;
    border-bottom: 1px solid #e6007e;
}
h3 {
    color: #393939;
    font-family: 'bitter';
    text-transform: uppercase;

}

h5 {
    color: #e6007e;
    font-family: 'bitter';
    text-transform: uppercase;
    letter-spacing: 0.5em;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e6007e;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* headr
==================================================*/

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-header {
    height: 60px;
    background: transparent;
    box-shadow: none;
}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.box-logo a {
    display: block;

    color: #e6007e;
    font-family: 'century gothic';
font-weight: 700;
    letter-spacing: 1px; 

}
.header-home-link {
    position: absolute;
    width: 50px;
    height: 30px;
    padding: 1px;padding-left: 1em;
    
    line-height: 30px;
    left: 11px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.box-logo a:hover {text-decoration: none;}

body.home .box-logo a {display: none;}

.box-header.is-fixed {
    position: fixed;
    top: -60px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
/*.box-header.lt.is-fixed {background-color: rgba(0, 0, 0, 0.2);
}*/

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.box-header.is-visible .box-logo a {
    display: block;
}

.box-header.menu-is-open {
    background-color: rgba(0, 0, 0, 0.6);
}
.box-header.lt.menu-is-open { background-color: rgba(0, 0, 0, 0.2);
}



.box-primary-nav-trigger {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;

}


.box-primary-nav-trigger .box-menu-text {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

.box-primary-nav-trigger .box-menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    list-style: none;
}

.box-primary-nav-trigger .box-menu-icon::before,
.box-primary-nav-trigger .box-menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -webkit-transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: top .3s, background-color 0s, -webkit-transform .3s;
    transition: transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s, -webkit-transform .3s;
}

.box-primary-nav-trigger .box-menu-icon::before {
    top: -5px;
}

.box-primary-nav-trigger .box-menu-icon::after {
    top: 5px;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: fff;
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.box-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-primary-nav-trigger .box-menu-text {
    display: inline-block;
}

.box-primary-nav-trigger .box-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
}
/* dark menu elements on light background */
.box-header.lt .box-primary-nav-trigger .box-menu-text {color: black;}
.box-header.lt .box-primary-nav-trigger .box-menu-icon,
.box-header.lt .box-primary-nav-trigger .box-menu-icon::before,
.box-header.lt .box-primary-nav-trigger .box-menu-icon::after,
.box-header.lt .box-primary-nav-trigger .box-menu-icon.is-clicked,
.box-header.lt .box-primary-nav-trigger .box-menu-icon.is-clicked::before,
.box-header.lt .box-primary-nav-trigger .box-menu-icon.is-clicked::after {
    background-color: #000;}

.box-primary-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.96);
    z-index: 2;
    text-align: center;
    padding: 50px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    list-style: none;
}

.box-primary-nav li {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: .2em 0;
    text-transform: capitalize;
}

.box-primary-nav a {
    display: inline-block;
    padding: .4em 1em;
    border-radius: 0.25em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.box-primary-nav a:focus {
    outline: none;
}

.no-touch .box-primary-nav a:hover {
    text-decoration: none;
    color: #ddd;
}

.box-primary-nav .box-label {
    color: #e6007e;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    margin: 2.4em 0 .8em;
}

.box-primary-nav .box-social {
    display: inline-block;
    margin: 10px .4em;
}

.box-primary-nav .box-social a {
    width: 30px;
    height: 30px;
    padding: 0;
    font-size: 30px
}

.box-primary-nav.is-visible {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.box-primary-nav {
    padding: 150px 0 0;
}

.box-primary-nav li {
    font-size: 18px;
}


/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
    color: #333;
    background: -webkit-linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url(../_assets/img/main_bg_nyc.jpg);
    background: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .6)), url(../_assets/img/main_bg_nyc.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;

}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

b i:last-child {
    color: #e6007e !important;
}

.box-intro h5 {
    font-size: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #e6e6e6;
    line-height: 1.7;
}

/* single pages 
=======================*/
.box-intro.twc {
    background: #fff;
    padding-top: 50px;
   
}
.box-intro.twc .table-cell {
        /* http://colorzilla.com/gradient-editor/#ffffff+0,fbfbfb+64,f3f3f3+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #fbfbfb 30%, #f3f3f3 58%, #fff 58%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#fbfbfb 30%,#f3f3f3 58%, #fff 58%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#fbfbfb 30%,#f3f3f3 58%, #fff 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
/*    -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee), color-stop(0.75, #eee));
*/    }

.box-intro.ss {
    background: #00DDEE;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ddee+0,87e6ed+100 */
background: #00ddee; /* Old browsers */
background: -moz-linear-gradient(top,  #00ddee 50%, #87e6ed 60%, #fff 60%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00ddee 50%,#87e6ed 60%, #fff 60%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00ddee 50%,#87e6ed 60%, #fff 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ddee', endColorstr='#87e6ed',GradientType=0 ); /* IE6-9 */

}
.box-intro.km {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+32,fff16e+49,fff16e+60,fff16e+60,ffffff+60,ffffff+60 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 32%, #fff16e 49%, #fff16e 60%, #fff16e 60%, #ffffff 60%, #ffffff 60%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 32%,#fff16e 49%,#fff16e 60%,#fff16e 60%,#ffffff 60%,#ffffff 60%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 32%,#fff16e 49%,#fff16e 60%,#fff16e 60%,#ffffff 60%,#ffffff 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

.box-intro.ps {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+32,fff16e+49,fff16e+60,fff16e+60,ffffff+60,ffffff+60 */
    background: #000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000 40%, #222 58%, #000 58%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #000 40%, #222 58%, #000 58%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #000 40%, #222 58%, #000 58%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
   -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee), color-stop(0.75, #eee));}

.table-cell {
    z-index: 2;
}

.hero { margin: 50px auto; }

.ss .hero, .km .hero {background: url('../_assets/img/mbpframe.png') 0 0 no-repeat; width: 1024px; height: 583px; border: 1px solid red;}
.km .hero {background: gray;}

.box-intro h1.clientLogo {
    display: block; margin: 0 auto; margin-bottom: 30px; text-align: -9999px !important;
}
.box-intro.twc h1.clientLogo {background: url('../_assets/img/logo-twc.jpg'); height: 60px; width: 280px; }
.box-intro.ss h1.clientLogo {background: url('../_assets/img/homelogo_ss.png'); height: 49px; width: 280px;}
.box-intro.km h1.clientLogo {background: url('../_assets/img/homelogo_km.png') white center no-repeat; height: 39px; width: 283px; padding: 5px; border: 5px 10px solid white;}
.box-intro.ps h1.clientLogo {background: url('../_assets/img/homelogo_ps.png'); height: 68px; width: 272px;}
.box-intro.ta h1.clientLogo{background: url('../_assets/img/homelogo_ta.png'); height: 49px; width: 318px;}
.box-intro.uni h1.clientLogo{background: url('../_assets/img/homelogo_uni.png'); height: 105px; width: 261px;}


.ss .content-ph, .km .content-ph, .ps .content-ph {margin-top: 10%;}


.single h2 {border: none;}
.box-intro p {font-size: 16px; color: #666;}

.project-details {/*width: auto; height: auto;*/ display: inline-block; margin: 0 auto; text-align: left; margin-top: 30px; padding: 0 25%;}
.project-details h2 {font-size: 15px; margin: 0; padding-left: 20px; padding-top: 2px;}
.project-details p {padding-bottom: 10px; text-align: left !important; font-size: 15px; line-height: 1.2em;}
.box-intro.ss p, .box-intro.ss h2 {color: #454545;}
.border, .border div {border: 1px solid blue; }

.top-bar.twc {
    min-height: 70vh;
  box-shadow: inset 0px -40px 40px -30px rgba(0,0,0,0.4),inset 0px 40px 40px -30px rgba(0,0,0,0.4);
padding: 10%; background: url('../_assets/img/twc_discoverybg.png') no-repeat center; background-size: cover;   

}
.feature-box {box-shadow: 0 0 40px 0 rgba(0, 0, 0, .4); background: #fff; padding: 30px 50px 50px 50px; }
.feature-box ul li {padding-bottom: 5px;}
.imgblock img {padding-top: 25px;}
.single .container div {height: 100%;}
.single .container p {padding-right: 20px;}
.single .container .row {margin: 0; margin-bottom: 40px;}
.single .container .row.s4 h2 {padding-top: 40px;}
.single .container .row:last-child {margin-bottom: 0; margin-top: 30px;}
.twc-last-img {padding-top: 0 !important; margin-top: -50px;}

.top-bar.ss {background: #ECECEC; height: 100%;}

.top-bar.ps {  box-shadow: inset 0px -40px 40px -30px rgba(0,0,0,0.8),inset 0px 40px 40px -30px rgba(0,0,0,0.8);}

/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll {
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #888;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

#anibox {height: 122px; width: 380px; margin: 0 auto; margin-top: -110px;}

#logoani { -webkit-filter: drop-shadow( 0 0 5px rgba(0,0,0,0.5) );
            filter: drop-shadow( 0 0 5px rgba(0,0,0,0.5) ); /* Same syntax as box-shadow, except 
                                                       for the spread property */}
#logoani * {
  fill-opacity: 0;
  transition: fill-opacity 1s;
   
}

#logoani.finished * {
  fill-opacity: 1;
 -webkit-filter: drop-shadow( 5px 5px 15px #000 );
            filter: drop-shadow( 5px 5px 15px #000 ); /* Same syntax as box-shadow, except 
                                                       for the spread property */
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;
}

.box-words-wrapper {
    display: inline-block;
    position: relative;
    /*border: 1px solid orange;*/
    width: 600px;
    width: 90% !important;
    text-align: center;
}

.box-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    margin: 0 auto;
    text-align: center;
    width: 100% !important;

}

.box-words-wrapper b.is-visible {
    position: relative;
}

.no-js .box-words-wrapper b {
    opacity: 0;
    position: relative;
}

.no-js .box-words-wrapper b.is-visible {
    opacity: 1;
}

.box-headline.rotate-2 .box-words-wrapper {
    -webkit-perspective: 300px;
    perspective: 300px;
}

.box-headline.rotate-2 i,
.box-headline.rotate-2 em {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-headline.rotate-2 b {
    opacity: 0;
}

.box-headline.rotate-2 i {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0;
}

.is-visible .box-headline.rotate-2 i {
    opacity: 1;
}

.box-headline.rotate-2 i.in {
    -webkit-animation: box-rotate-2-in 0.4s forwards;
    animation: box-rotate-2-in 0.4s forwards;
}

.box-headline.rotate-2 i.out {
    -webkit-animation: box-rotate-2-out 0.4s forwards;
    animation: box-rotate-2-out 0.4s forwards;
}

.box-headline.rotate-2 em {
    -webkit-transform: translateZ(20px);
    transform: translateZ(20px);
}

.no-csstransitions .box-headline.rotate-2 i {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0;
}

.no-csstransitions .box-headline.rotate-2 i em {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.no-csstransitions .box-headline.rotate-2 .is-visible i {
    opacity: 1;
}

@-webkit-keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
    }
}

@keyframes box-rotate-2-in {
    0% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(90deg);
        transform: translateZ(-20px) rotateX(90deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(-10deg);
        transform: translateZ(-20px) rotateX(-10deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0deg);
        transform: translateZ(-20px) rotateX(0deg);
    }
}

@-webkit-keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
    }
}

@keyframes box-rotate-2-out {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(-20px) rotateX(0);
        transform: translateZ(-20px) rotateX(0);
    }
    60% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-100deg);
        transform: translateZ(-20px) rotateX(-100deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-20px) rotateX(-90deg);
        transform: translateZ(-20px) rotateX(-90deg);
    }
}

/* skillz section
==================================================*/

.profile {padding-top: 80px;}
.profile-blurb {padding-right: 40px;}
.profile h2 {margin-top: 30px; margin-bottom: 10px;}
.profile p, .contact p {font-size: 16px; letter-spacing: 0.02em; 
    line-height: 1.5em; color: #e4e4e4; padding-right: 20px;}
.profile a {border-bottom: 1px dotted rgba(86,86,86,1);}
.profile a:hover {text-decoration: none; border-bottom: 1px dotted #fff;}
.profile ul, .profile p {margin-bottom: 10px;}

.profile ul li, .item_info em {display: inline-block;text-transform: uppercase;font-size: 1em;letter-spacing: 0.08em;margin-right: 8px;
            margin-bottom: 6px;}

.bubble, .item_info em {
            
            padding: 4px 16px 4px 16px;
            border-radius: 25px;
            color: #fff;
            background-color: rgba(86,86,86,0.6);
            font-style: normal;
    }
ul.tools li {margin-right: 0;}
    ul.tools li:after { content: " • "; padding: 4px; color: rgba(86,86,86,0.6);}
    ul.tools li:last-child:after { content: " ";}

.top-bar {
    color: #333;
    padding: 200px 0 200px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)), url(../img/01.jpg);
    background: linear-gradient( rgba(0, 0, 0, .95), rgba(0, 0, 0, .95)), url(../img/01.jpg);
    /*background: rgba(0, 0, 0, .8), url(../img/01.jpg);*/
    /*background: #000;*/
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

}

.top-bar.ps {
    color: #fff;
    padding: 400px 0 200px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../_assets/img/baws_wide.jpg);
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../_assets/img/baws_wide.jpg);
    /*background: rgba(0, 0, 0, .8), url(../img/01.jpg);*/
    /*background: #000;*/
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;


}

.top-bar.ps.pslive {
    color: #fff;
    padding: 300px 0 300px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../_assets/img/PS_hippo.jpg);
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../_assets/img/PS_hippo.jpg);
    /*background: rgba(0, 0, 0, .8), url(../img/01.jpg);*/
    /*background: #000;*/
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;


}

.container.main-container.onboarding {background-color: #000; min-height: 100%;}

.top-bar h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    line-height: 50px;
}

.top-bar p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #777;
}

.top-bar p a {
    color: #777;
}

.top-bar p a:hover,
.top-bar p a:focus {
    color: #555;
    text-decoration: none;
}

.top-bar.skillz {

}
.top-bar.ss-mobile {padding: 100px 40px; background-color: #fff;}
.top-bar.ss-mobile img{
    width: 100%;
}

.ss-emails {background-color: #ececec; margin: 0 padding: 0;}


/* portfolio section
==================================================*/

.portfolio .categories-grid span {
    font-size: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

.portfolio .categories-grid .categories ul li {
    list-style: none;
    margin: 20px 0;
}

.portfolio .categories-grid .categories ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio .categories-grid .categories ul li a:hover,
.portfolio .categories-grid .categories ul li a:focus {
    text-decoration: none;
}

.portfolio .categories-grid .categories ul li a.active {
    margin-left: 0;
    background-color: #e6007e;
    padding: 0px 20px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_item .portfolio_item_hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}



.portfolio_item.twc .portfolio_item_hover { background-color: rgba(255, 255, 255, .85);}
.portfolio_item.ss .portfolio_item_hover { background-color: rgba(0, 221, 238, .85);}
.portfolio_item.ps .portfolio_item_hover { background-color: rgba(0, 0, 0, .8);}
.portfolio_item.km .portfolio_item_hover { background-color: rgba(255, 255, 255, .85);}
.portfolio_item.ta .portfolio_item_hover { background-color: rgba(89, 148, 66, .85);}
.portfolio_item.uni .portfolio_item_hover { background-color: rgba(40, 65, 90, .85);}

.portfolio_item .portfolio_item_hover .item_info {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 100%;
    height: 100%;
}

.portfolio_item .portfolio_item_hover .item_info span {
    display: block;
    color: #fff;
    font-size: 18px;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
    opacity: 0;
    text-indent: -9999px;
    width: 100%; height: 100%; 
    display: block;
    margin: 30% auto 20px auto;
    background-image: no-repeat;

}

.portfolio_item.twc .item_info span {
    background: url(../_assets/img/homelogo_twc.png) white;
    max-height: 64px; max-width: 302px;
}
.portfolio_item.ta .item_info span {
    background: url(../_assets/img/homelogo_ta.png);
    max-height: 49px; max-width: 318px;
}
.portfolio_item.ss .item_info span {
    background: url(../_assets/img/homelogo_ss.png);
    max-height: 49px; max-width: 280px;
}
.portfolio_item.ps .item_info span {
    background: url(../_assets/img/homelogo_ps.png);
    max-height: 68px; max-width: 272px;
}
.portfolio_item.km .item_info span {
    background: url(../_assets/img/homelogo_km.png);
    max-height: 29px; max-width: 263px;
}
.portfolio_item.uni .item_info span {
    background: url(../_assets/img/homelogo_uni.png);
    max-height: 105px; max-width: 261px;
    margin-top: 20%;
}

.portfolio_item .portfolio_item_hover .item_info em {
    
    display: inline-block;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-in-out .3s;
    transition: all .3s ease-in-out .3s;
    opacity: 0;
    /*background-color: #e6007e;
    padding: 5px 20px;
    border-radius: 25px;
    color: #333;
    margin-top: 10px;
    font-style: normal;
    font-size: 10px;
    letter-spacing: 2px;*/
}

.portfolio_item:hover .portfolio_item_hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio .categories-grid .categories ul li {
    float: left;
}

.portfolio .categories-grid .categories ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 55px;
}


/* footer
==================================================*/

footer {
    padding: 30px 0;
    text-align: center;
    color: #000;

}
footer.home {
    background: black;
}

footer.home .copyright {
    color: #ccc;
    margin-bottom: 0;
    font-size: 13px;
}

footer img {
    margin: 0 auto;
}


/* backto top
==================================================*/

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    right: 10px;
    text-align: center;
    color: #fff;
    background: rgba(226, 0, 106, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover,
.no-touch .cd-top:focus {
    background-color: #e6007e;
    opacity: 1;
    color: #fff;
}



.social-ul {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

.social-ul li {
    margin: 0 10px;
    float: left;
}

.social-ul li a {
    font-size: 25px;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.social-ul li a:hover {
    color: #888;
}


/* clients section
==================================================*/

.clients {background: red !important; padding: 100px; display:  block;}


/* Services page
==================================================*/

.size-50 {
    font-size: 50px;
}

.service-box {
    margin-bottom: 30px;
}

.service-box h3 {
    margin-top: 0;
}


/* contact section
==================================================*/

.home.contact {background: #1f1f1f; }

.contact .main {padding: 80px 0; background: #1f1f1f;}

.home.contact h2, .home.contact p  {margin-bottom: 20px; margin-top: 0;}
.single.ps {background: black;}

.details-text i {
    margin-right: 10px;
}

.textarea-contact {
    height: 130px;
    width: 100%;
    border: solid 1px rgba(255, 255, 255, .3);
    position: relative;
}

.textarea-contact textarea {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 20px;
    background-color: transparent;
    float: left;
    z-index: 2;
    font-size: 14px;
    color: #fff;
    resize: none;
    letter-spacing: 1.4px;
}

.textarea-contact > span {
    position: absolute;
    top: 20px;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact {
    height: 40px;
    width: 100%;
    border: solid 1px rgba(255, 255, 255, .3);
    position: relative;
    margin-bottom: 20px;
}

.input-contact input[type="text"] {
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0 20px;
    float: left;
    position: relative;
    background-color: transparent;
    z-index: 2;
    font-size: 14px;
    color: #fff;
    letter-spacing: 1.4px;
}

.input-contact > span {
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
    text-transform: uppercase;
    color: #cdcdcd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.input-contact > span.active,
.textarea-contact > span.active {
    color: #9a9a9a;
    font-size: 10px;
    top: 0px;
    left: 5px;
    background-color: #1f1f1f;
    padding: 5px;

}

input:focus,
textarea:focus {
    outline: none;
}

.contact-info {
    margin-top: 5px;
}

.contact-info i {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #e6007e;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    color: #fff;
    font-size: 21px;
}

.contact-info p {
    display: inline-block;
    margin-right: 20px;
    width: 100%;
}

.btn-box {
    background: #e6007e;
    padding: 10px 50px;
    border-radius: 0;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 30px;
}

.btn-box:hover,
.btn-box:focus {
    background: #fff;
    color: #e6007e;
}



/* single project page
==================================================*/

.cat-ul {
    padding-left: 0;
    list-style: none
}

.cat-ul li i {
    margin-right: 10px;
    color: #e6007e;
}
.project-links {margin: 0; width: 100%;}
.project-links a:hover {text-decoration: none;}
.project-links p {margin: 0; text-align: left; width: 100%; border: 1px solid red; padding: 10px; text-transform: uppercase; font-family: 'bitter';}
.project-links p i {font-size: 1.2em;}
.project-links p.next {text-align: right;}
.project-links p:hover {background: red; color: white;}

.row.center {text-align: center;}
.row.center img {margin: 0 auto;}
p.desc {font-size: 13px; font-style: italic; line-height: 14px; padding-top: 8px;}



/* Responsive media queries
==================================================*/


@media (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }
    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }
    .col-md-6 h3 {
        margin-top: 30px;
    }
    .project-details h2 {padding-left: 0;padding-bottom: 8px;}
    .single .container .row:last-child img {margin-top: 0;}

}

@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }
    .box-primary-nav {
        padding: 80px 0 0;
    }
    .box-primary-nav .box-social a {
        font-size: 23px;
    }
    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }
    .portfolio .categories-grid .categories ul li {
        float: none;
    }
    .project-details {
        padding: 0 16%;
    }

}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .main-container {
        padding: 50px 0;
    }
    .project-details {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }
    .box-intro h5 {
        font-size: 12px;
    }
    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }
}
.home {
    background: black;
    color: #fff;
}
.home .container-fluid {
    margin: 0;
    padding: 0;
}
.bitter-ita {font-family: 'bitter', serif; font-style: italic;}
.green {background: green !important; display: block;}
.blue {background: blue !important; display: block;}
.red {background: red !important; display: block;}
.yellow {background: yellow !important; display: block;}
.pink {background: pink !important; display: block;}
.orange {background: orange !important; display: block;}

#graphics {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   10px;
   -moz-column-count:    3;
   -moz-column-gap:      10px;
   column-count:         3;
   column-gap:           10px;
}

#graphics img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding: 5px 0;
}

@media (max-width: 1200px) {
  #graphics {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #graphics {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #graphics {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #graphics {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
