.carousel-control--slide-selector,
.carousel-control {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}
/* ==========================================================================
   #CAROUSEL COMPONENTS
   ========================================================================== */

/**
 * CSS for carousel components.
 *
 * 1. This count should be moved into the parent element for the
 *	  carousel when being used in more than one place. It controls the
 *    width of the selector box.
 * 
 * 2. Prevent items showing on the outside of the container. 
 * 
 * 3. Remove default checkbox styling. Note: this is generally
 *    discouragred and should be avoided on inputs. However, here
 *    we are not using the checkboxes for their intended use of a
 *    form input but a custom control action.
 *
 * 4. Give the checkbox "buttons" the pointer cursor.
 */

.carousel {
	--carousel-slide-transition: cubic-bezier(.62, .32, .48, .78);
	width: 600px;
	height: 400px;
	position: relative;
}
.carousel--with-shadow {
	/* */
}
.carousel--with-border-radius {
	/* */
}
.carousel--items {
	width: 600px;
	height: 400px;
	position: relative;
	z-index: 1;
}
.carousel--item {
	width: 600px;
	height: 400px;
	position: relative;
}
/**
 * Slide specific CSS if necessary.
 */

.carousel--item-1 {
	background: #FFBC67;
}
.carousel--item-2 {
	background: #DA727E;
}
.carousel--item-3 {
	background: #685C79;
}
.carousel--item-4 {
	background: #455C7B;
}
.carousel-control--selectors {
	--selector-width: 12px;
	width: auto;
	height: auto;
	position: absolute;
	display: -webkit-box;
	display: flex;
	justify-content: space-around;
	z-index: 2;
}
.carousel-control--selectors-top-left {
	top: 20px;
	left: 20px;
}
.carousel-control--selectors-top-right {
	top: 20px;
	right: 20px;
}
.carousel-control--selectors-bottom-left {
	bottom: 20px;
	left: 20px;
}
.carousel-control--selectors-bottom-right {
	bottom: 20px;
	right: 20px;
}
.carousel-control--selectors-top-centre {
	top: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.carousel-control--selectors-bottom-centre {
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.carousel-control--selectors-absolute-centre {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.carousel-control--slide-selector {
	width: var(--selector-width);
	height: var(--selector-width);
	background: rgba(51, 51, 51, 0.8);
	border-radius: 100%;
	cursor: pointer;
	margin-right: 4px;
}
.carousel-control--slide-selector:last-of-type {
	margin-right: 0;
}
.carousel-control--slide-selector.slide-is-selected {
	background: #ffffff;
}
/**
 * Next and previous buttons
 */

.carousel-control {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAAA3RSTlMAIGAiQIEkAAAALklEQVR4AWOgJWDEKcPEzIRThhmHHCNQBpcc0xCQQ0gNvAwZwctEQlQiEgBtAQClAgEzFgqcygAAAABJRU5ErkJggg==") center center no-repeat;
	z-index: 3;
	cursor: pointer;
}
.carousel-control--next {
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.carousel-control--previous {
	left: 20px;
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
/**
 * Touchscreen specific rules. Quite useful for
 * removing hover effects.
 */

.user-is-touching .carousel-control--next:hover {
	/*  */
}
.user-is-touching .carousel-control--previous:hover {
	/*  */
}
/**
 * No JS implementation of the carousel using checkbox controls
 * These are removed when JavaScript is available.
 */

.no-js .carousel--items {
	overflow-x: hidden;
	/* [2] */
}
.no-js .carousel-control--selectors {
	display: none;
}
.no-js .no-js--carousel-control {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 3;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* [3] */
	cursor: pointer;
	/* [4] */
	display: block;
}
.no-js .no-js--carousel-control:checked {
	display: none;
}
.no-js .no-js--carousel-control:checked ~ .no-js--carousel-control {
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: auto;
}
.no-js .no-js--carousel-control:checked + .carousel--item + .no-js--carousel-control {
	z-index: 4;
}
.no-js .no-js--carousel-control:checked + .carousel--item {
	z-index: 2;
}
.no-js .no-js--carousel-control + .carousel--item {
	position: absolute;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.5s var(--carousel-slide-transition);
	transition: -webkit-transform 0.5s var(--carousel-slide-transition);
	transition: transform 0.5s var(--carousel-slide-transition);
	transition: transform 0.5s var(--carousel-slide-transition), -webkit-transform 0.5s var(--carousel-slide-transition);
}
/**
 * Arrow/chevron styling for the next and previous checkbox buttons.
 */

/**
 * Previous button.
 */

.no-js .no-js--carousel-control::before {
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAAA3RSTlMAIGAiQIEkAAAALklEQVR4AWOgJWDEKcPEzIRThhmHHCNQBpcc0xCQQ0gNvAwZwctEQlQiEgBtAQClAgEzFgqcygAAAABJRU5ErkJggg==") center center no-repeat;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
/**
 * Next button.
 */

.no-js .no-js--carousel-control:checked ~ .no-js--carousel-control::before {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	content: "";
}
/**
 * CSS transforms for slide effect.
 */

.no-js .no-js--carousel-control + .carousel--item {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.no-js .no-js--carousel-control:checked + .carousel--item {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.no-js .no-js--carousel-control:checked + .carousel--item ~ .carousel--item {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}